*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
      background-color: #79a81a;
      font-family: Arial, sans-serif;
    }
    
    nav {
      display: flex;
      background-color: #0c5cdf;
      color: rgb(92, 10, 10);
      height: 75px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      font-weight: bold;
    }
    
    .inputCard {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .inputCard input, .inputCard select {
      padding: 10px;
      font-size: 1.2em;
      border: 2px solid #9a4708;
      border-radius: 5px;
      margin-right: 10px;
      width: 300px;
    }
    
    .inputCard button, .inputCard select {
      padding: 10px 20px;
      font-size: 1.2em;
      background-color: #270a6f;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .inputCard button:hover, .inputCard select:hover {
      background-color: #106023;
    }
    
    .weather-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }
    
    .weather-card {
      background-color: #acb210;
      color: rgb(182, 11, 11);
      padding: 20px;
      margin: 10px;
      border-radius: 10px;
      width: 490px; 
    }
    
    .weather-card h2 {
      font-size: 2.5em;
      color: #1b0b4b;
      margin-bottom: 10px;
    }
    
    .weather-card p {
      font-size: 2em;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    
    #fiveDay {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
    }